.modal{
   overflow: hidden;
}

.datepicker {
	color: #036D9C;
}

.main-box {
  background-color: #2790B0;
  padding: 30px;
  border-radius: 20px;
  border: 5px solid #DCDCDC;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.cell {
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	background-color: #222;
	border:1px solid #2cb7fe;text-align:center;
-webkit-box-shadow:3px 3px 10px #9edeff inset;box-shadow:3px 3px 10px #9edeff inset;
}

.cell input[type=checkbox] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 2%;
    height: 2%;
    -webkit-transition: all 0.5s ease-in-out;
}

.cell:hover input[type=checkbox],
.cell input[type=checkbox]:checked {
    top: 4px;
    left: 4px;
    opacity: 1;
    width: 8%;
    height: 8%;
    -webkit-transition: all 0.1s ease-in-out;
}
